<?xml version="1.0" encoding="UTF-8"?>

<configuration status="debug">
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <!--只接受程序中DEBUG级别的日志进行处理-->
            <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="[%d{HH:mm:ss.SSS}] %-5level %class{36} %L %M - %msg%xEx%n"/>
        </Console>

        <RollingFile name="RollingFile" fileName="./logs/info.log"
                     filePattern="logs/$${date:yyyy-MM}/debug-%d{yyyy-MM-dd}-%i.log.gz">
            <!-- 过滤器控制：本日志文件只记录 debug 文件，info及以上日志不记录 -->
            <Filters>
                <ThresholdFilter level="DEBUG"/>
                <ThresholdFilter level="INFO" onMatch="DENY" onMismatch="NEUTRAL"/>
            </Filters>
            <!-- 日志格式 -->
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss}] %-5level %class{36} %L %M - %msg%xEx%n"/>
            <!--日志文件维护策略：-->
            <Policies>
                <!-- 每隔一天转存一次 -->
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <!-- 文件大小不超过200M -->
                <SizeBasedTriggeringPolicy size="200 MB"/>
            </Policies>
        </RollingFile>

        <!--处理error级别的日志，并把该日志放到logs/error.log文件中-->
        <RollingFile name="RollingFileError" fileName="./logs/error.log"
                     filePattern="logs/$${date:yyyy-MM}/error-%d{yyyy-MM-dd}-%i.log.gz">

            <ThresholdFilter level="ERROR"/>

            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss}] %-5level %class{36} %L %M - %msg%xEx%n"/>

            <Policies>
                <!-- 每隔一天转存一次 -->
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <!-- 文件大小不超过200M -->
                <SizeBasedTriggeringPolicy size="200 MB"/>
            </Policies>
        </RollingFile>

        <!--druid的日志记录追加器-->
        <!--  <RollingFile name="druidSqlRollingFile" fileName="./logs/druid-sql.log"
                       filePattern="logs/$${date:yyyy-MM}/api-%d{yyyy-MM-dd}-%i.log.gz">

              <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss}] %-5level %L %M - %msg%xEx%n"/>

              <Policies>
                  <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                  <SizeBasedTriggeringPolicy size="200 MB"/>
              </Policies>
          </RollingFile>-->

    </appenders>

    <loggers>
        <!-- 定义root根logger -->
        <!-- 日志级别为debug 具体日志级别由appender限制 -->
        <root level="all">
            <appender-ref ref="Console" level="info"/>
            <appender-ref ref="RollingFile" level="debug"/>
            <appender-ref ref="RollingFileError" level="error"/>
        </root>

        <!--记录druid-sql的记录-->

        <!--   <logger name="druid.sql.Statement" level="error" additivity="false">

               <appender-ref ref="druidSqlRollingFile"/>

           </logger>-->

        <!--log4j2 自带过滤日志-->
        <!--过滤掉spring和mybatis的一些无用的DEBUG信息-->
        <logger name="org.springframework" level="info"/>
        <logger name="org.mybatis" level="info"/>
        <logger name="org.crsh.plugin" level="warn" />
        <logger name="org.crsh.ssh" level="warn"/>
        <logger name="org.eclipse.jetty.util.component.AbstractLifeCycle" level="error" />
        <logger name="org.thymeleaf" level="warn"/>

        <logger name="com.alibaba.druid" level="info"/>
        <logger name="io.lettuce.core" level="info" />
        <logger name="org.apache" level="info" />
        <logger name="com.netflix" level="info" />
        <logger name="io.netty" level="info" />
        <logger name="org.hibernate" level="info" />

    </loggers>

</configuration>
